section.orders {
  height: 100vh;
  width: 100%;
  #orders-header {
    color: $color-primary-light;
  }

  ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: $color-primary-dark;
    font-size: 1.7rem;
    .cancelled {
      color: orangered;
    }
  }
}
