$color-primary: #00587a;
$color-primary-light: rgb(0, 135, 145);
$color-primary-dark: rgb(15, 47, 87);
$color-primary-white: #fff;
$color-grey-dark: #777;
$color-black: black;
$color-secondary-white: #e7e7de;
$color-secondary-dark: #e05297;

//grid

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

//font sizes
$default-font-size: 1.6rem;
